@if (mostraDialogIniziale) {
  <div class="dialog-overlay">
    <div class="dialog-card-player">
      <h3>Chi fa le carte in prima mano?</h3>
      <div class="player-grid">
        @for (g of giocatori; track g) {
          <button class="btn-player" (click)="selezionaGiocatoreIniziale(g)">{{ nomeGiocatore(g) }}</button>
        }
      </div>
      <button class="btn-cancel-dialog" (click)="annulla.emit()">Annulla e Torna Indietro</button>
    </div>
  </div>
}

@if (manoInModifica) {
  <app-mano-dialog 
    [mano]="manoInModifica" 
    [giocatori]="giocatori"
    [isNuovaMano]="isNuovaMano"
    (salva)="salvaManoDialog($event)"
    (annulla)="manoInModifica = null">
  </app-mano-dialog>
}

<div class="detail-container" [class.blurred]="mostraDialogIniziale || manoInModifica">
  <h2>{{ isEdit ? 'Modifica Partita' : 'Nuova Partita' }}</h2>
  
  <div class="table-header-flex">
    <h3>Elenco Mani</h3>
    <button class="btn-add" (click)="aggiungiMano()">+ Aggiungi Mano</button>
  </div>

  <table class="mani-table">
    <thead>
      <tr>
        <th>Chi ha fatto le carte</th>
        <th>Punti Donne</th>
        <th>Punti Uomini</th>
        <th>Chi ha chiuso</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      @for (m of partita.mani; track m.id; let i = $index) {
        <tr>
          <td>
            {{ i % 4 === 0 ? nomeGiocatore(partita.primaMano) : '' }}
          </td>
          <td>{{ m.puntiS + m.puntiW }}</td>
          <td>{{ m.puntiG + m.puntiL }}</td>
          <td><span><b>{{ nomeGiocatore(m.chiHaChiuso) }}</b></span>
            @if (m.chiusoDiMano) {
              <span class="mano-icon" title="Chiusura di mano">🖐️</span>
            }
            @if (m.shit) {
              <span class="mano-icon" title="Merdina">💩</span>
            }
          </td>
          <td>
            <button class="btn-edit" (click)="modificaMano(m)">Modifica</button>
            <button class="btn-delete" (click)="eliminaMano(m.id)">Elimina</button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="5" class="no-data">Nessuna mano registrata per questa partita.</td>
        </tr>
      }
        <tr>
          <td><span><b>Totale</b></span></td>
          <td><span><b>{{ partita.puntiD }}</b></span>
                @if (partita.vittoria === 'D') { <span class="crown">👑</span> }</td>
          <td><span><b>{{ partita.puntiU }}</b></span>
                @if (partita.vittoria === 'U') { <span class="crown">👑</span> }</td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>

  <div class="main-actions">
    <button class="btn-save-all" (click)="salvaTutto()">Salva Tutto e Chiudi</button>
    <button class="btn-cancel-all" (click)="annulla.emit()">Annulla Modifiche</button>
  </div>
</div>